body {
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: 1000000;
	font-family: 'Aptos',
		Calibri,
		sans-serif;
	border-radius: 10px;
	box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	overflow: hidden;
}
